  .checkbox-column .round {
      position: relative;
  }

  .checkbox-column .round label {
      background-color: #fff;
      border: 1px solid #ccc;
      border-radius: 50%;
      cursor: pointer;
      height: 20px;
      width: 20px;
      display: block;
      margin-bottom: 0;
  }

  .checkbox-column .round label:after {
      border: 2px solid #fff;
      border-top: none;
      border-right: none;
      content: "";
      height: 5px;
      left: 5px;
      opacity: 0;
      position: absolute;
      top: 7px;
      transform: rotate(-45deg);
      width: 11px;
  }

  .checkbox-column .round input[type="checkbox"] {
      visibility: hidden;
      display: none;
      opacity: 0;
  }

  .checkbox-column .round input[type="checkbox"]:checked+label {
      background-color: #bf9b30;
      border-color: #bf9b30;
  }

  .checkbox-column .round input[type="checkbox"]:checked+label:after {
      opacity: 1;
  }