{% load static i18n %}
<!--app-sidebar-->
<div class="sticky">
    <aside class="app-sidebar">
        <div class="app-sidebar__logo">
            <a class="header-brand" href="/">
                <img src="{{app_settings.logo}}" class="header-brand-img desktop-lgo" alt="">
                <img src="{{app_settings.logo}}" class="header-brand-img dark-logo" alt="">
                <img src="{{app_settings.favicon}}" class="header-brand-img mobile-logo" alt="">
                <img src="{{app_settings.favicon}}" class="header-brand-img darkmobile-logo" alt="">
            </a>
        </div>
        <div class="app-sidebar3">
            <div class="main-menu">

                <ul class="side-menu">

                    <li class="slide">
                        <a class="side-menu__item" data-bs-toggle="slide" href="{% url 'core:dashboard_view' %}">
                            <i class="feather feather-shield sidemenu_icon"></i>
                            <span class="side-menu__label">Dashboard</span>
                        </a>
                    </li>


                    <li class="slide">
                        <a class="side-menu__item" data-bs-toggle="slide" href="javascript:void(0);">
                            <i class="feather feather-bookmark sidemenu_icon"></i>
                            <span class="side-menu__label">{% translate 'Masters' %}</span>
                            <i class="angle fa fa-angle-right"></i>
                        </a>

                        <ul class="slide-menu">
                            <li class="sub-slide">
                                <a class="sub-side-menu__item" data-bs-toggle="sub-slide"
                                    href="{% url 'core:country_list' %}">
                                    <span class="sub-side-menu__label">{% translate 'Countries' %}</span>
                                </a>
                            </li>
                            <li class="sub-slide">
                                <a class="sub-side-menu__item" data-bs-toggle="sub-slide"
                                    href="{% url 'core:state_list' %}">
                                    <span class="sub-side-menu__label">{% translate 'States' %}</span>
                                </a>
                            </li>
                            <li class="sub-slide">
                                <a class="sub-side-menu__item" data-bs-toggle="sub-slide"
                                    href="{% url 'core:district_list' %}">
                                    <span class="sub-side-menu__label">{% translate 'Districts' %}</span>
                                </a>
                            </li>
                            <li class="sub-slide">
                                <a class="sub-side-menu__item" data-bs-toggle="sub-slide"
                                    href="{% url 'core:zone_list' %}">
                                    <span class="sub-side-menu__label">{% translate 'Zones' %}</span>
                                </a>
                            </li>
                            <li class="sub-slide">
                                <a class="sub-side-menu__item" data-bs-toggle="sub-slide"
                                    href="{% url 'core:unit_list' %}">
                                    <span class="sub-side-menu__label">{% translate 'Units' %}</span>
                                </a>
                            </li>
                            <li class="sub-slide">
                                <a class="sub-side-menu__item" data-bs-toggle="sub-slide"
                                    href="{% url 'core:department_list' %}">
                                    <span class="sub-side-menu__label">{% translate 'Departments' %}</span>
                                </a>
                            </li>
                            <li class="sub-slide">
                                <a class="sub-side-menu__item" data-bs-toggle="sub-slide"
                                    href="{% url 'core:designation_list' %}">
                                    <span class="sub-side-menu__label">{% translate 'Designations' %}</span>
                                </a>
                            </li>
                            <li class="sub-slide">
                                <a class="sub-side-menu__item" data-bs-toggle="sub-slide"
                                    href="{% url 'core:year_list' %}">
                                    <span class="sub-side-menu__label">{% translate 'Years' %}</span>
                                </a>
                            </li>
                            <li class="sub-slide">
                                <a class="sub-side-menu__item" data-bs-toggle="sub-slide"
                                    href="{% url 'core:language_list' %}">
                                    <span class="sub-side-menu__label">{% translate 'Languages' %}</span>
                                </a>
                            </li>
                        </ul>
                    </li>


                    <li class="slide">
                        <a class="side-menu__item" data-bs-toggle="slide" href="javascript:void(0);">
                            <i class="feather feather-award sidemenu_icon"></i>
                            <span class="side-menu__label">{% translate 'Umrah' %}</span>
                            <i class="angle fa fa-angle-right"></i>
                        </a>
                        <ul class="slide-menu">

                            <li class="sub-slide">
                                <a class="sub-side-menu__item" data-bs-toggle="sub-slide"
                                    href="{% url 'umrah:batch_list' %}">
                                    <span class="sub-side-menu__label">{% translate 'Batches' %}</span>
                                </a>
                            </li>

                            <li class="sub-slide">
                                <a class="sub-side-menu__item" data-bs-toggle="sub-slide"
                                    href="{% url 'umrah:agency_list' %}">
                                    <span class="sub-side-menu__label">{% translate 'Agencies' %}</span>
                                </a>
                            </li>

                            <li class="sub-slide">
                                <a class="sub-side-menu__item" data-bs-toggle="sub-slide"
                                    href="{% url 'umrah:applicant_list' %}">
                                    <span class="sub-side-menu__label">{% translate 'Applicants' %}</span>
                                </a>
                            </li>

                            <li class="sub-slide">
                                <a class="sub-side-menu__item" data-bs-toggle="sub-slide"
                                    href="{% url 'umrah:payment_purpose_list' %}">
                                    <span class="sub-side-menu__label">{% translate 'Payment Purposes' %}</span>
                                </a>
                            </li>

                            <li class="sub-slide">
                                <a class="sub-side-menu__item" data-bs-toggle="sub-slide"
                                    href="{% url 'umrah:voucher_list' %}">
                                    <span class="sub-side-menu__label">{% translate 'Vouchers' %}</span>
                                </a>
                            </li>

                            <li class="sub-slide">
                                <a class="sub-side-menu__item" data-bs-toggle="sub-slide"
                                    href="{% url 'umrah:payment_list' %}">
                                    <span class="sub-side-menu__label">{% translate 'Payments' %}</span>
                                </a>
                            </li>
                            
                             <li class="sub-slide">
                                <a class="sub-side-menu__item" data-bs-toggle="sub-slide"
                                    href="{% url 'umrah:archived_voucher_list' %}">
                                    <span class="sub-side-menu__label">{% translate 'Archived Vouchers' %}</span>
                                </a>
                            </li>

                            <li class="sub-slide">
                                <a class="sub-side-menu__item" data-bs-toggle="sub-slide"
                                    href="{% url 'umrah:archived_payment_list' %}">
                                    <span class="sub-side-menu__label">{% translate 'Archived Payments' %}</span>
                                </a>
                            </li>
                        </ul>
                    </li>

                    <li class="slide">
                        <a class="side-menu__item" data-bs-toggle="slide" href="javascript:void(0);">
                            <i class="feather feather-chrome sidemenu_icon"></i>
                            <span class="side-menu__label">{% translate 'Help' %}</span>
                            <i class="angle fa fa-angle-right"></i>
                        </a>
                        <ul class="slide-menu">
                            <li class="sub-slide">
                                <a class="sub-side-menu__item" data-bs-toggle="sub-slide"
                                    href="javascript:void(0);">
                                    <span class="sub-side-menu__label">{% translate 'FAQ' %}</span>
                                </a>
                            </li>
                            <li class="sub-slide">
                                <a class="sub-side-menu__item" data-bs-toggle="sub-slide"
                                    href="javascript:void(0);">
                                    <span class="sub-side-menu__label">{% translate 'Tutorials' %}</span>
                                </a>
                            </li>
                            <li class="sub-slide">
                                <a class="sub-side-menu__item" data-bs-toggle="sub-slide"
                                    href="javascript:void(0);">
                                    <span class="sub-side-menu__label">{% translate 'Support' %}</span>
                                </a>
                            </li>
                        </ul>
                    </li>

                </ul>

                <div class="slide-right" id="slide-right">
                    <svg xmlns="http://www.w3.org/2000/svg" fill="#7b8191" width="24" height="24" viewBox="0 0 24 24">
                        <path d="M10.707 17.707 16.414 12l-5.707-5.707-1.414 1.414L13.586 12l-4.293 4.293z" />
                    </svg>
                </div>
            </div>
        </div>
    </aside>
</div>
